<!DOCTYPE html>
<html>
<head>
    <title>Submit Data</title>
</head>
<body>
    <h2>Submit Your Details</h2>
    <form action="/submit" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>

        <label>Email:</label>
        <input type="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

    <a href="https://buy.stripe.com/test_cNi3cu1yh70R9fH63b1Fe00">GAMING PC</a>
    <a href="https://buy.stripe.com/test_00wfZg93ceT12nmdW91kA00">GAMING PC</a>
</html>
