<!DOCTYPE html>
<html>
<head>
    <title>Submit Data</title>
</head>
<body>
    <h2>Submit Your Details</h2>
    <form action="/submit" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>

        <label>Email:</label>
        <input type="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

    <!-- <a href="https://buy.stripe.com/test_cNi3cu1yh70R9fH63b1Fe00">GAMING PC</a> -->
    <!-- <a href="https://buy.stripe.com/test_00wfZg93ceT12nmdW91kA00">GAMING PC</a> -->


    <a href="/Elvis">Ray Charles</a>

    <a href="https://photos.app.goo.gl/gNCNNKDkSPvE64HB6">Fishing Day</a>
    <a href="https://youtu.be/7LoLor8TlWA?feature=shared">THE EASY BEATS</a>

    <a href="https://www.youtube.com/watch?v=QNJL6nfu__Q&list=RDQNJL6nfu__Q&start_radio=1">Michael Jackson</a>


    <!-- <video width="320" height="240" controls muted>
    <source src="{{url_for('static',filename='drawing circular function graphs.mp4')}}">
    </video> -->

    
</html>
